<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="llmConfig" class="org.example.Configuration.LLMConfig">
    <property name="url" value="http://210.28.134.91:8000/model" />
    <property name="identifierLengthLimit" value="-1" />
<!--    if `identifierLengthLimit` is not set or less 0, then this value will be the max length of all identifiers in the target style.-->
</bean>

</beans>
